 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Coding Skills</h2>
      <i class="devicon-c-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>Developing and designing websites since 2014 on various platforms that includes PHP, HTML5, CSS, JavaScript, MySQL etc.</p>
    </div>
    <div class="tech">
      <h2>Web Development</h2>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Developing and designing websites since 2014 on various platforms that includes PHP, HTML5, CSS, JavaScript, MySQL etc.</p>
    </div>
    <div class="tech">
      <h2>Tools & Platforms</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-wordpress-plain colored"></i>
      <p>Experienced in many development tools and platforms like: WordPress, PrestaShop, github, Adobe PhotoShop, Adobe Muse etc.</p>
    </div>
</div>
