 <div class="user-details">
  <h1> My Expertise </h1>
  <p>
    <!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
     <a itemprop='url' href=https://www.fiverr.com/x_code11 rel="nofollow" target="_blank" style='display: inline-block;'>
        <div class='fiverr-seller-content' id='fiverr-seller-widget-content-004dd706-72ff-42c3-8a0d-3cf627a09df3' itemprop='contentURL' style='display: none;'></div>
        <div id='fiverr-widget-seller-data' style='display: none;'>
            <div itemprop='name' >x_code11</div>
            <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
            <div itemprop='jobtitle'>Seller</div>
            <div itemprop='description'>I am a Web Developer with 3+ Years experience in WordPress,PrestaShop, PHP,MySQL,HTML,CSS, Search Engine Optimization (SEO), Website Analytics.

My work says what I create.Visit My Website for Projects I have worked in : https://thecyberstop.com

Why Me?

1.Fastest Project Completation.
2.100% Customer Satisfaction.
3.24x7 Chat & Email Support ( Free for 3months) on every Project.
4.Free SSL( Let's Encrypt) Installation For Every New Website Creation Project.
5.Free Basic SEO (Google) Package on Every  Project </div>
        </div>
    </a>
</div>

<script id='fiverr-seller-widget-script-004dd706-72ff-42c3-8a0d-3cf627a09df3' src='https://widgets.fiverr.com/api/v1/seller/x_code11?widget_id=004dd706-72ff-42c3-8a0d-3cf627a09df3' data-config='{"category_name":"Programming \u0026 Tech"}' async='true' defer='true'></script>

</p>
  <p>I am a freelance fullstack developer experienced in WordPress,PrestaShop, PHP,MySQL,HTML,CSS, Search Engine Optimization (SEO), Website Analytics.I design and code beautifully simple things, and I love what I do</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Coding Skills</h2>
      <i class="devicon-c-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>I am using c,c++ on various university projects since 2017 and experienced in object oriented programming with python</p>
    </div>
    <div class="tech">
      <h2>Web Development</h2>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Developing and designing websites since 2014 on various platforms that includes PHP, HTML5, CSS, JavaScript, MySQL etc.</p>
    </div>
    <div class="tech">
      <h2>Tools & Platforms</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-wordpress-plain colored"></i>
      <p>Experienced in many development tools and platforms like: WordPress, PrestaShop, github, Adobe PhotoShop, Adobe Muse etc.</p>
    </div>
</div>
